$pt-l-border-colour: #bbb;
$pt-d-border-colour: #757575;
$pt-l-body-background: #f8f9fe;
$pt-d-body-background: #212121;
$pt-l-container-background: white;
$pt-d-container-background: #505050;
$pt-l-page: #eef4f9;
$pt-d-page: #212121;

$pt-l-text-colour: #323232;
$pt-d-text-colour: white;
$pt-l-text-disabled: #ddd;
$pt-d-text-disabled: #757575;

/** Disabled Controls */
