@import "pt-colours";

@mixin card($color) {
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.7);
  padding: 8px;
  border-radius: 4px;
  display: block;
  text-decoration: none;

  &,
  &.light {
    border-color: $pt-l-border-colour;
    background-color: $pt-l-container-background;
    color: $pt-l-text-colour;
  }
  &.dark {
    border-color: $pt-d-border-colour;
    background-color: $pt-d-container-background;
    color: $pt-d-text-colour;
  }

  &:hover {
    cursor: pointer;
    color: $color;
    border-color: $color;
    box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.7);
  }
}