@use "sass:color";

@mixin link($color, $highlight) {
  border-bottom: 2px solid $color;
  color: inherit;
  text-decoration: none;
  &:hover {
    background-color: $highlight;
    color: $color;
    @if (color.lightness($highlight) < 50) {
      color: white;
    } @else {
      color:#1f1f1f;
    }
  }
}