@import "pt-colours";
@import "pt-containers";

.list-box {
  @include container-borders();
  list-style: none;
}

.list-item {
  padding: 8px;
  &.active {
    &:hover {
      z-index: 11;
      box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.7);
      cursor: pointer;
    }
  }
  &:not(:last-of-type) {
    border-bottom: 1px solid $pt-l-border-colour;
  }
}
