@charset "UTF-8";
/**
 * Reset
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #13011A;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * General buttons
 */
/** Disabled Controls */
/** Disabled Controls */
/** Disabled Controls */
/**
 * Classes to center page contents and define widths
 * Contains:
 *  .centered-page, .small, .wide
 */
.centered-page {
  width: 100%;
  margin: auto;
}
.centered-page.small {
  max-width: 768px;
}
.centered-page.wide {
  max-width: 1024px;
}

/**
 * Container classes
 * Contains:
 *  .container-wrapper { .container-header, .container }
 */
/** Disabled Controls */
.container-wrapper {
  margin: 16px;
}
.container-wrapper:not(:first-of-type) {
  margin-top: 32px;
}

.container-header {
  margin-bottom: 8px;
}
.container-header h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}
.container-header p {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
}

.container {
  border-radius: 8px;
  padding: 16px;
}
.container, .container.light {
  border: 2px solid #bbb;
  background-color: white;
}
.container.dark {
  border: 2px solid #757575;
  background-color: #505050;
}

/** Disabled Controls */
/** Disabled Controls */
.container-wrapper {
  margin: 16px;
}
.container-wrapper:not(:first-of-type) {
  margin-top: 32px;
}

.container-header {
  margin-bottom: 8px;
}
.container-header h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}
.container-header p {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
}

.container {
  border-radius: 8px;
  padding: 16px;
}
.container, .container.light {
  border: 2px solid #bbb;
  background-color: white;
}
.container.dark {
  border: 2px solid #757575;
  background-color: #505050;
}

.list-box {
  border-radius: 8px;
  list-style: none;
}
.list-box, .list-box.light {
  border: 2px solid #bbb;
  background-color: white;
}
.list-box.dark {
  border: 2px solid #757575;
  background-color: #505050;
}

.list-item {
  padding: 8px;
}
.list-item.active:hover {
  z-index: 11;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.list-item:not(:last-of-type) {
  border-bottom: 1px solid #bbb;
}

/** Disabled Controls */
/** Disabled Controls */
/** Disabled Controls */
.notification.info {
  padding: 16px 16px 16px 8px;
  background-color: #C7DCFC;
  border-left: 8px solid #004FCF;
  color: #323232;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.notification.info p {
  font-size: 18px;
}
.notification.info button {
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid #004FCF;
  background: none;
  color: #004FCF;
  box-shadow: none;
}
.notification.info button label {
  color: inherit;
  display: inline-block;
}
.notification.info button svg path {
  fill: currentColor;
}
.notification.info button.flex {
  display: inline-flex;
  align-items: center;
}
.notification.info button.default-size {
  height: 36px;
}
.notification.info button.default-size svg {
  width: 24px;
  height: 24px;
}
.notification.info button.default-size.icon {
  padding: 5px;
}
.notification.info button.default-size.icon label {
  padding: 2px;
}
.notification.info button *:hover {
  cursor: pointer;
}
.notification.info button:disabled {
  box-shadow: none;
  background: #eceff1;
  border-color: #b0bec5;
  color: #b0bec5;
  cursor: no-drop;
}
.notification.info button:hover:not(:disabled), .notification.info button:focus:not(:disabled) {
  cursor: pointer;
  background: rgba(0, 79, 207, 0.2);
  box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.7);
}
.notification.info button:hover:not(:disabled) {
  cursor: pointer;
  background: #004FCF;
  border-color: rgba(0, 79, 207, 0.2);
  box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.7);
  color: white;
}
.notification.info button:focus {
  outline: 2px solid orange;
  outline-offset: 1px;
}
.notification.info button:active:not(:disabled) {
  box-shadow: 0 2px 8px -3px rgba(0, 0, 0, 0.7);
  background: rgba(0, 79, 207, 0.2);
}
.notification.warn {
  padding: 16px 16px 16px 8px;
  background-color: #FCF2D2;
  border-left: 8px solid #995700;
  color: #323232;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.notification.warn p {
  font-size: 18px;
}
.notification.warn button {
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid #995700;
  background: none;
  color: #995700;
  box-shadow: none;
}
.notification.warn button label {
  color: inherit;
  display: inline-block;
}
.notification.warn button svg path {
  fill: currentColor;
}
.notification.warn button.flex {
  display: inline-flex;
  align-items: center;
}
.notification.warn button.default-size {
  height: 36px;
}
.notification.warn button.default-size svg {
  width: 24px;
  height: 24px;
}
.notification.warn button.default-size.icon {
  padding: 5px;
}
.notification.warn button.default-size.icon label {
  padding: 2px;
}
.notification.warn button *:hover {
  cursor: pointer;
}
.notification.warn button:disabled {
  box-shadow: none;
  background: #eceff1;
  border-color: #b0bec5;
  color: #b0bec5;
  cursor: no-drop;
}
.notification.warn button:hover:not(:disabled), .notification.warn button:focus:not(:disabled) {
  cursor: pointer;
  background: rgba(153, 87, 0, 0.2);
  box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.7);
}
.notification.warn button:hover:not(:disabled) {
  cursor: pointer;
  background: #995700;
  border-color: rgba(153, 87, 0, 0.2);
  box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.7);
  color: white;
}
.notification.warn button:focus {
  outline: 2px solid orange;
  outline-offset: 1px;
}
.notification.warn button:active:not(:disabled) {
  box-shadow: 0 2px 8px -3px rgba(0, 0, 0, 0.7);
  background: rgba(153, 87, 0, 0.2);
}
.notification.error {
  padding: 16px 16px 16px 8px;
  background-color: #ffe6e6;
  border-left: 8px solid #A30300;
  color: #323232;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.notification.error p {
  font-size: 18px;
}
.notification.error button {
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid #A30300;
  background: none;
  color: #A30300;
  box-shadow: none;
}
.notification.error button label {
  color: inherit;
  display: inline-block;
}
.notification.error button svg path {
  fill: currentColor;
}
.notification.error button.flex {
  display: inline-flex;
  align-items: center;
}
.notification.error button.default-size {
  height: 36px;
}
.notification.error button.default-size svg {
  width: 24px;
  height: 24px;
}
.notification.error button.default-size.icon {
  padding: 5px;
}
.notification.error button.default-size.icon label {
  padding: 2px;
}
.notification.error button *:hover {
  cursor: pointer;
}
.notification.error button:disabled {
  box-shadow: none;
  background: #eceff1;
  border-color: #b0bec5;
  color: #b0bec5;
  cursor: no-drop;
}
.notification.error button:hover:not(:disabled), .notification.error button:focus:not(:disabled) {
  cursor: pointer;
  background: rgba(163, 3, 0, 0.2);
  box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.7);
}
.notification.error button:hover:not(:disabled) {
  cursor: pointer;
  background: #A30300;
  border-color: rgba(163, 3, 0, 0.2);
  box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.7);
  color: white;
}
.notification.error button:focus {
  outline: 2px solid orange;
  outline-offset: 1px;
}
.notification.error button:active:not(:disabled) {
  box-shadow: 0 2px 8px -3px rgba(0, 0, 0, 0.7);
  background: rgba(163, 3, 0, 0.2);
}

/**
 * Controls
 */
.text-input {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid #b0bec5;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.7) inset;
}
.text-input:disabled {
  box-shadow: none;
  background: #eceff1;
  border-color: #b0bec5;
  color: #b0bec5;
  cursor: no-drop;
}
.text-input:focus {
  outline: none;
  border-width: 2px;
  border-color: grey;
  padding: 7px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.7) inset;
}

/**
 * Compact Textinput
 * Validation styling disabled
 */
.text-input-c {
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid #b0bec5;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.7) inset;
}
.text-input-c:disabled {
  box-shadow: none;
  background: #eceff1;
  border-color: #b0bec5;
  color: #b0bec5;
  cursor: no-drop;
}
.text-input-c:focus {
  outline: none;
  border-width: 2px;
  border-color: grey;
  padding: 3px 7px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.7) inset;
}

.text-input-v {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid #b0bec5;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.7) inset;
}
.text-input-v:disabled {
  box-shadow: none;
  background: #eceff1;
  border-color: #b0bec5;
  color: #b0bec5;
  cursor: no-drop;
}
.text-input-v:focus {
  outline: none;
  border-width: 2px;
  border-color: grey;
  padding: 7px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.7) inset;
}
.text-input-v:invalid:not(:disabled) {
  border-color: red;
}
.text-input-v:invalid:not(:disabled):focus {
  border-color: red;
  box-shadow: 0 0 4px 0 rgba(255, 0, 0, 0.7) inset;
}
.text-input-v:invalid:not(:disabled) + span:after {
  content: "✖";
  color: red;
}
.text-input-v:valid:not(:disabled) {
  border-color: green;
}
.text-input-v:valid:not(:disabled):focus {
  border-color: green;
  box-shadow: 0 0 4px 0 rgba(0, 128, 0, 0.7) inset;
}
.text-input-v:valid:not(:disabled) + span:after {
  content: "✔";
  color: green;
}

.text-input-c-v {
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid #b0bec5;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.7) inset;
}
.text-input-c-v:disabled {
  box-shadow: none;
  background: #eceff1;
  border-color: #b0bec5;
  color: #b0bec5;
  cursor: no-drop;
}
.text-input-c-v:focus {
  outline: none;
  border-width: 2px;
  border-color: grey;
  padding: 3px 7px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.7) inset;
}
.text-input-c-v:invalid:not(:disabled) {
  border-color: red;
}
.text-input-c-v:invalid:not(:disabled):focus {
  border-color: red;
  box-shadow: 0 0 4px 0 rgba(255, 0, 0, 0.7) inset;
}
.text-input-c-v:invalid:not(:disabled) + span:after {
  content: "✖";
  color: red;
}
.text-input-c-v:valid:not(:disabled) {
  border-color: green;
}
.text-input-c-v:valid:not(:disabled):focus {
  border-color: green;
  box-shadow: 0 0 4px 0 rgba(0, 128, 0, 0.7) inset;
}
.text-input-c-v:valid:not(:disabled) + span:after {
  content: "✔";
  color: green;
}

/** Disabled Controls */
/* The switch - the box around the slider */
/** Base Colors */
/** ----------------------------------- */
/** Disabled Controls */
/** Theme Colours                       */
/** ----------------------------------- */
/**
 * Color to be shown on $theme-primary
 * Should be readable when used on top of $theme-primary
 */
/**
 * Primary theme colour
 * Should be readable when used on top of $theme-light
 */
/**
 * Used as background for certain hover effects and active control elements.
 * Content and border should be coloured with $theme-primary or $theme-on-primary
 */
/**
 * Can be used as container backgrounds, for example headers.
 * In this case it should use $theme-on-primary as border colour.
 */
.card {
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.7);
  padding: 8px;
  border-radius: 4px;
  display: block;
  text-decoration: none;
}
.card, .card.light {
  border-color: #bbb;
  background-color: white;
  color: #323232;
}
.card.dark {
  border-color: #757575;
  background-color: #505050;
  color: white;
}
.card:hover {
  cursor: pointer;
  color: #32722a;
  border-color: #32722a;
  box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.7);
}

.button {
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid #2a5f23;
  background: #32722a;
  background: linear-gradient(0deg, #32722a 35%, #429738 100%);
  color: white;
  box-shadow: 0 2px 6px -3px black;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  transition: background 0.2s linear;
  display: inline-block;
}
.button label {
  color: inherit;
  display: inline-block;
}
.button svg path {
  fill: currentColor;
}
.button.flex {
  display: inline-flex;
  align-items: center;
}
.button.default-size {
  height: 36px;
}
.button.default-size svg {
  width: 24px;
  height: 24px;
}
.button.default-size.icon {
  padding: 5px;
}
.button.default-size.icon label {
  padding: 2px;
}
.button *:hover {
  cursor: pointer;
}
.button:disabled {
  box-shadow: none;
  background: #eceff1;
  border-color: #b0bec5;
  color: #b0bec5;
  cursor: no-drop;
}
.button:hover:not(:disabled) {
  cursor: pointer;
  background: #d5ebcb;
  border-color: #32722a;
  box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.7);
  color: #323232;
}
.button:focus {
  outline: 2px solid orange;
  outline-offset: 1px;
}
.button:active:not(:disabled) {
  box-shadow: 0 2px 8px -3px rgba(0, 0, 0, 0.7);
  background: #d5ebcb;
  color: #042100;
}

.flat-button {
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid #bbb;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.7);
  background: rgba(255, 255, 255, 0.3);
  background: white;
  background: linear-gradient(0deg, #e5e5e5 35%, white 100%);
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  transition: background 0.2s linear;
  color: #32722a;
  display: inline-block;
}
.flat-button label {
  color: inherit;
  display: inline-block;
}
.flat-button svg path {
  fill: currentColor;
}
.flat-button.flex {
  display: inline-flex;
  align-items: center;
}
.flat-button.default-size {
  height: 36px;
}
.flat-button.default-size svg {
  width: 24px;
  height: 24px;
}
.flat-button.default-size.icon {
  padding: 5px;
}
.flat-button.default-size.icon label {
  padding: 2px;
}
.flat-button *:hover {
  cursor: pointer;
}
.flat-button:disabled {
  box-shadow: none;
  background: #eceff1;
  border-color: #b0bec5;
  color: #b0bec5;
  cursor: no-drop;
}
.flat-button:hover:not(:disabled) {
  cursor: pointer;
  background: #d5ebcb;
  box-shadow: 0 0 8px -2px black;
}
.flat-button:focus {
  outline: 2px solid orange;
  outline-offset: 1px;
}
.flat-button:active:not(:disabled) {
  box-shadow: none;
  background: #d5ebcb;
}

.tablist {
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.7);
  padding: 4px;
  border-radius: 32px;
  display: flex;
  overflow-y: scroll;
  box-sizing: border-box;
}
.tablist button {
  font-size: 14px;
  font-weight: bold;
  color: inherit;
  padding: 4px 16px;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 32px;
  flex-grow: 1;
  text-align: center;
  margin: 0;
  background: none;
  border: none;
  min-width: max-content;
}
.tablist button:hover:not(.selected):not(:disabled) {
  cursor: pointer;
  color: #042100;
  background-color: #d5ebcb;
}
.tablist button.selected {
  color: #042100;
  background-color: #d5ebcb;
}
.tablist, .tablist.light {
  color: #323232;
  border-color: #bbb;
  background-color: white;
}
.tablist button:disabled, .tablist.light button:disabled {
  color: #959595;
}
.tablist.dark {
  color: white;
  border-color: #757575;
  background-color: #505050;
}
.tablist.dark button:disabled {
  color: #757575;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 16px;
  margin: 8px;
}
.switch:hover input:not(:disabled) + .slider {
  background-color: #d5ebcb;
}
.switch:hover input:not(:disabled) + .slider:before {
  background-color: #f5f5f5;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background-color: #32722a;
  border: 1px solid #32722a;
  box-shadow: 0 0 4px -1px black;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}
.switch input:focus + .slider {
  outline: 2px solid orange;
  outline-offset: 2px;
}
.switch input:disabled + .slider {
  opacity: 0.4;
  box-shadow: none;
}
.switch input:disabled + .slider:hover {
  cursor: no-drop;
}
.switch input:disabled + .slider:before {
  background: #f5f5f5;
  box-shadow: none;
}
.switch .slider {
  box-sizing: border-box;
  border: 1px solid #bbb;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bbb;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 16px;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.7);
}
.switch .slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: -1px;
  bottom: -5px;
  border: 1px solid #bbb;
  background: white;
  background: linear-gradient(0deg, #e5e5e5 35%, white 100%);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.link {
  border-bottom: 2px solid #75FF91;
  color: inherit;
  text-decoration: none;
}
.link:hover {
  background-color: #C2FFCE;
  color: #75FF91;
  color: #1f1f1f;
}

/*# sourceMappingURL=theme.css.map */
