@charset "UTF-8";
/**
 * Reset
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #13011A;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * General buttons
 */
/**
 * elevated colour: lightness - 5
 */
/** Disabled Controls */
/**
 * elevated colour: lightness - 5
 */
/** Disabled Controls */
/**
 * elevated colour: lightness - 5
 */
/** Disabled Controls */
/**
 * Classes to center page contents and define widths
 * Contains:
 *  .centered-page, .small, .wide
 */
.centered-page {
  width: 100%;
  margin: auto;
}
.centered-page.small {
  max-width: 768px;
}
.centered-page.wide {
  max-width: 1024px;
}

/**
 * Container classes
 * Contains:
 *  .container-wrapper { .container-header, .container }
 */
/**
 * elevated colour: lightness - 5
 */
/** Disabled Controls */
.container-wrapper {
  margin: 16px;
}
.container-wrapper:not(:first-of-type) {
  margin-top: 32px;
}

.container-header {
  margin-bottom: 8px;
}
.container-header h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}
.container-header p {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
}

.container {
  border-radius: 8px;
  box-shadow: 0 0 3px -2px;
  padding: 16px;
}
.container, .container.light {
  border: 1px solid #bbb;
  background-color: white;
}
.container.dark {
  border: 1px solid #757575;
  background-color: #505050;
}
.container.--connect-start {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.container.--connect-end {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.container.--connect-top {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.container.--connect-bottom {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/**
 * elevated colour: lightness - 5
 */
/** Disabled Controls */
/**
 * elevated colour: lightness - 5
 */
/** Disabled Controls */
.container-wrapper {
  margin: 16px;
}
.container-wrapper:not(:first-of-type) {
  margin-top: 32px;
}

.container-header {
  margin-bottom: 8px;
}
.container-header h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}
.container-header p {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
}

.container {
  border-radius: 8px;
  box-shadow: 0 0 3px -2px;
  padding: 16px;
}
.container, .container.light {
  border: 1px solid #bbb;
  background-color: white;
}
.container.dark {
  border: 1px solid #757575;
  background-color: #505050;
}
.container.--connect-start {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.container.--connect-end {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.container.--connect-top {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.container.--connect-bottom {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.list-box {
  border-radius: 8px;
  box-shadow: 0 0 3px -2px;
  list-style: none;
}
.list-box, .list-box.light {
  border: 1px solid #bbb;
  background-color: white;
}
.list-box.dark {
  border: 1px solid #757575;
  background-color: #505050;
}
.list-box.--connect-start {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.list-box.--connect-end {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.list-box.--connect-top {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.list-box.--connect-bottom {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.list-item {
  padding: 8px;
}
.list-item.active:hover {
  z-index: 11;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.list-item:not(:last-of-type) {
  border-bottom: 1px solid #bbb;
}

/**
 * elevated colour: lightness - 5
 */
/** Disabled Controls */
/**
 * elevated colour: lightness - 5
 */
/** Disabled Controls */
/**
 * elevated colour: lightness - 5
 */
/** Disabled Controls */
.notification.info {
  padding: 16px 16px 16px 8px;
  background-color: #C7DCFC;
  border-left: 8px solid #004FCF;
  color: #323232;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.notification.info p {
  font-size: 18px;
}
.notification.info button {
  box-shadow: 0 0 4px -1px rgba(166, 166, 166, 0.85);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 3px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 8px;
}
.notification.info button:disabled {
  box-shadow: none;
}
.notification.info button.--connect-start {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.notification.info button.--connect-end {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.notification.info button.--connect-top {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.notification.info button.--connect-bottom {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.notification.info button:disabled {
  border-width: 1px;
}
.notification.info button svg {
  width: 24px;
  height: 24px;
}
.notification.info button.--compact {
  padding: 4px 8px;
  font-size: 14px;
  line-height: 14px;
  height: 32px;
}
.notification.info button.--compact.--square {
  width: 32px;
}
.notification.info button.--compact.--icon {
  padding: 3px;
}
.notification.info button.--compact.--icon label {
  padding: 2px;
}
.notification.info button.--medium {
  height: 40px;
}
.notification.info button.--medium.--square {
  width: 40px;
}
.notification.info button.--medium.--icon {
  padding: 7px;
}
.notification.info button.--medium.--icon label {
  padding: 2px;
}
.notification.info button.--big {
  height: 48px;
}
.notification.info button.--big.--square {
  width: 48px;
}
.notification.info button.--big.--icon {
  padding: 11px;
}
.notification.info button.--big.--icon label {
  padding: 2px;
}
.notification.info button label {
  color: inherit;
  display: inline-block;
}
.notification.info button svg path {
  fill: currentColor;
}
.notification.info button.flex {
  display: inline-flex;
  align-items: center;
}
.notification.info button *:hover {
  cursor: pointer;
}
.notification.info button:disabled {
  box-shadow: none;
  background: #eceff1;
  border-color: #b0bec5;
  color: #b0bec5;
  cursor: no-drop;
  border-width: 1px;
}
.notification.info button:hover:not(:disabled), .notification.info button:focus:not(:disabled) {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.notification.info button:focus-visible {
  outline: 2px solid orange;
  outline-offset: 1px;
}
.notification.warn {
  padding: 16px 16px 16px 8px;
  background-color: #FCF2D2;
  border-left: 8px solid #995700;
  color: #323232;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.notification.warn p {
  font-size: 18px;
}
.notification.warn button {
  box-shadow: 0 0 4px -1px rgba(166, 166, 166, 0.85);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 3px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 8px;
}
.notification.warn button:disabled {
  box-shadow: none;
}
.notification.warn button.--connect-start {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.notification.warn button.--connect-end {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.notification.warn button.--connect-top {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.notification.warn button.--connect-bottom {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.notification.warn button:disabled {
  border-width: 1px;
}
.notification.warn button svg {
  width: 24px;
  height: 24px;
}
.notification.warn button.--compact {
  padding: 4px 8px;
  font-size: 14px;
  line-height: 14px;
  height: 32px;
}
.notification.warn button.--compact.--square {
  width: 32px;
}
.notification.warn button.--compact.--icon {
  padding: 3px;
}
.notification.warn button.--compact.--icon label {
  padding: 2px;
}
.notification.warn button.--medium {
  height: 40px;
}
.notification.warn button.--medium.--square {
  width: 40px;
}
.notification.warn button.--medium.--icon {
  padding: 7px;
}
.notification.warn button.--medium.--icon label {
  padding: 2px;
}
.notification.warn button.--big {
  height: 48px;
}
.notification.warn button.--big.--square {
  width: 48px;
}
.notification.warn button.--big.--icon {
  padding: 11px;
}
.notification.warn button.--big.--icon label {
  padding: 2px;
}
.notification.warn button label {
  color: inherit;
  display: inline-block;
}
.notification.warn button svg path {
  fill: currentColor;
}
.notification.warn button.flex {
  display: inline-flex;
  align-items: center;
}
.notification.warn button *:hover {
  cursor: pointer;
}
.notification.warn button:disabled {
  box-shadow: none;
  background: #eceff1;
  border-color: #b0bec5;
  color: #b0bec5;
  cursor: no-drop;
  border-width: 1px;
}
.notification.warn button:hover:not(:disabled), .notification.warn button:focus:not(:disabled) {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.notification.warn button:focus-visible {
  outline: 2px solid orange;
  outline-offset: 1px;
}
.notification.error {
  padding: 16px 16px 16px 8px;
  background-color: #ffe6e6;
  border-left: 8px solid #A30300;
  color: #323232;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.notification.error p {
  font-size: 18px;
}
.notification.error button {
  box-shadow: 0 0 4px -1px rgba(166, 166, 166, 0.85);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 3px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 8px;
}
.notification.error button:disabled {
  box-shadow: none;
}
.notification.error button.--connect-start {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.notification.error button.--connect-end {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.notification.error button.--connect-top {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.notification.error button.--connect-bottom {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.notification.error button:disabled {
  border-width: 1px;
}
.notification.error button svg {
  width: 24px;
  height: 24px;
}
.notification.error button.--compact {
  padding: 4px 8px;
  font-size: 14px;
  line-height: 14px;
  height: 32px;
}
.notification.error button.--compact.--square {
  width: 32px;
}
.notification.error button.--compact.--icon {
  padding: 3px;
}
.notification.error button.--compact.--icon label {
  padding: 2px;
}
.notification.error button.--medium {
  height: 40px;
}
.notification.error button.--medium.--square {
  width: 40px;
}
.notification.error button.--medium.--icon {
  padding: 7px;
}
.notification.error button.--medium.--icon label {
  padding: 2px;
}
.notification.error button.--big {
  height: 48px;
}
.notification.error button.--big.--square {
  width: 48px;
}
.notification.error button.--big.--icon {
  padding: 11px;
}
.notification.error button.--big.--icon label {
  padding: 2px;
}
.notification.error button label {
  color: inherit;
  display: inline-block;
}
.notification.error button svg path {
  fill: currentColor;
}
.notification.error button.flex {
  display: inline-flex;
  align-items: center;
}
.notification.error button *:hover {
  cursor: pointer;
}
.notification.error button:disabled {
  box-shadow: none;
  background: #eceff1;
  border-color: #b0bec5;
  color: #b0bec5;
  cursor: no-drop;
  border-width: 1px;
}
.notification.error button:hover:not(:disabled), .notification.error button:focus:not(:disabled) {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.notification.error button:focus-visible {
  outline: 2px solid orange;
  outline-offset: 1px;
}

.margin {
  margin: 16px;
}

.centred {
  margin: 16px auto;
}

/**
 * Controls
 */
/**
 * elevated colour: lightness - 5
 */
/** Disabled Controls */
.text-input {
  box-shadow: 0 0 4px -1px rgba(166, 166, 166, 0.85);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 3px;
  border-color: #bbb;
}
.text-input:disabled {
  box-shadow: none;
}
.text-input.--connect-start {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.text-input.--connect-end {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.text-input.--connect-top {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.text-input.--connect-bottom {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.text-input:disabled {
  border-width: 1px;
}
.text-input svg {
  width: 24px;
  height: 24px;
}
.text-input.--compact {
  padding: 4px 8px;
  font-size: 14px;
  line-height: 14px;
  height: 32px;
}
.text-input.--compact.--square {
  width: 32px;
}
.text-input.--compact.--icon {
  padding: 3px;
}
.text-input.--compact.--icon label {
  padding: 2px;
}
.text-input.--medium {
  height: 40px;
}
.text-input.--medium.--square {
  width: 40px;
}
.text-input.--medium.--icon {
  padding: 7px;
}
.text-input.--medium.--icon label {
  padding: 2px;
}
.text-input.--big {
  height: 48px;
}
.text-input.--big.--square {
  width: 48px;
}
.text-input.--big.--icon {
  padding: 11px;
}
.text-input.--big.--icon label {
  padding: 2px;
}
.text-input:hover {
  border-color: #a1a1a1;
}
.text-input:disabled {
  box-shadow: none;
  background: #eceff1;
  border-color: #b0bec5;
  color: #b0bec5;
  cursor: no-drop;
}
.text-input:focus {
  outline: none;
  border-width: 2px;
  border-color: grey;
  padding: 7px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.7) inset;
}

/**
 * Compact Textinput
 * Validation styling disabled
 */
.text-input-c {
  box-shadow: 0 0 4px -1px rgba(166, 166, 166, 0.85);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 3px;
  border-color: #bbb;
}
.text-input-c:disabled {
  box-shadow: none;
}
.text-input-c.--connect-start {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.text-input-c.--connect-end {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.text-input-c.--connect-top {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.text-input-c.--connect-bottom {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.text-input-c:disabled {
  border-width: 1px;
}
.text-input-c svg {
  width: 24px;
  height: 24px;
}
.text-input-c.--compact {
  padding: 4px 8px;
  font-size: 14px;
  line-height: 14px;
  height: 32px;
}
.text-input-c.--compact.--square {
  width: 32px;
}
.text-input-c.--compact.--icon {
  padding: 3px;
}
.text-input-c.--compact.--icon label {
  padding: 2px;
}
.text-input-c.--medium {
  height: 40px;
}
.text-input-c.--medium.--square {
  width: 40px;
}
.text-input-c.--medium.--icon {
  padding: 7px;
}
.text-input-c.--medium.--icon label {
  padding: 2px;
}
.text-input-c.--big {
  height: 48px;
}
.text-input-c.--big.--square {
  width: 48px;
}
.text-input-c.--big.--icon {
  padding: 11px;
}
.text-input-c.--big.--icon label {
  padding: 2px;
}
.text-input-c:hover {
  border-color: #a1a1a1;
}
.text-input-c:disabled {
  box-shadow: none;
  background: #eceff1;
  border-color: #b0bec5;
  color: #b0bec5;
  cursor: no-drop;
}
.text-input-c:focus {
  outline: none;
  border-width: 2px;
  border-color: grey;
  padding: 3px 7px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.7) inset;
}

.text-input-v {
  box-shadow: 0 0 4px -1px rgba(166, 166, 166, 0.85);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 3px;
  border-color: #bbb;
}
.text-input-v:disabled {
  box-shadow: none;
}
.text-input-v.--connect-start {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.text-input-v.--connect-end {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.text-input-v.--connect-top {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.text-input-v.--connect-bottom {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.text-input-v:disabled {
  border-width: 1px;
}
.text-input-v svg {
  width: 24px;
  height: 24px;
}
.text-input-v.--compact {
  padding: 4px 8px;
  font-size: 14px;
  line-height: 14px;
  height: 32px;
}
.text-input-v.--compact.--square {
  width: 32px;
}
.text-input-v.--compact.--icon {
  padding: 3px;
}
.text-input-v.--compact.--icon label {
  padding: 2px;
}
.text-input-v.--medium {
  height: 40px;
}
.text-input-v.--medium.--square {
  width: 40px;
}
.text-input-v.--medium.--icon {
  padding: 7px;
}
.text-input-v.--medium.--icon label {
  padding: 2px;
}
.text-input-v.--big {
  height: 48px;
}
.text-input-v.--big.--square {
  width: 48px;
}
.text-input-v.--big.--icon {
  padding: 11px;
}
.text-input-v.--big.--icon label {
  padding: 2px;
}
.text-input-v:hover {
  border-color: #a1a1a1;
}
.text-input-v:disabled {
  box-shadow: none;
  background: #eceff1;
  border-color: #b0bec5;
  color: #b0bec5;
  cursor: no-drop;
}
.text-input-v:focus {
  outline: none;
  border-width: 2px;
  border-color: grey;
  padding: 7px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.7) inset;
}
.text-input-v:invalid:not(:disabled) {
  border-color: red;
}
.text-input-v:invalid:not(:disabled):focus {
  border-color: red;
  box-shadow: 0 0 4px 0 rgba(255, 0, 0, 0.7) inset;
}
.text-input-v:invalid:not(:disabled) + span:after {
  content: "✖";
  color: red;
}
.text-input-v:valid:not(:disabled) {
  border-color: green;
}
.text-input-v:valid:not(:disabled):focus {
  border-color: green;
  box-shadow: 0 0 4px 0 rgba(0, 128, 0, 0.7) inset;
}
.text-input-v:valid:not(:disabled) + span:after {
  content: "✔";
  color: green;
}

.text-input-c-v {
  box-shadow: 0 0 4px -1px rgba(166, 166, 166, 0.85);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 3px;
  border-color: #bbb;
}
.text-input-c-v:disabled {
  box-shadow: none;
}
.text-input-c-v.--connect-start {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.text-input-c-v.--connect-end {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.text-input-c-v.--connect-top {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.text-input-c-v.--connect-bottom {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.text-input-c-v:disabled {
  border-width: 1px;
}
.text-input-c-v svg {
  width: 24px;
  height: 24px;
}
.text-input-c-v.--compact {
  padding: 4px 8px;
  font-size: 14px;
  line-height: 14px;
  height: 32px;
}
.text-input-c-v.--compact.--square {
  width: 32px;
}
.text-input-c-v.--compact.--icon {
  padding: 3px;
}
.text-input-c-v.--compact.--icon label {
  padding: 2px;
}
.text-input-c-v.--medium {
  height: 40px;
}
.text-input-c-v.--medium.--square {
  width: 40px;
}
.text-input-c-v.--medium.--icon {
  padding: 7px;
}
.text-input-c-v.--medium.--icon label {
  padding: 2px;
}
.text-input-c-v.--big {
  height: 48px;
}
.text-input-c-v.--big.--square {
  width: 48px;
}
.text-input-c-v.--big.--icon {
  padding: 11px;
}
.text-input-c-v.--big.--icon label {
  padding: 2px;
}
.text-input-c-v:hover {
  border-color: #a1a1a1;
}
.text-input-c-v:disabled {
  box-shadow: none;
  background: #eceff1;
  border-color: #b0bec5;
  color: #b0bec5;
  cursor: no-drop;
}
.text-input-c-v:focus {
  outline: none;
  border-width: 2px;
  border-color: grey;
  padding: 3px 7px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.7) inset;
}
.text-input-c-v:invalid:not(:disabled) {
  border-color: red;
}
.text-input-c-v:invalid:not(:disabled):focus {
  border-color: red;
  box-shadow: 0 0 4px 0 rgba(255, 0, 0, 0.7) inset;
}
.text-input-c-v:invalid:not(:disabled) + span:after {
  content: "✖";
  color: red;
}
.text-input-c-v:valid:not(:disabled) {
  border-color: green;
}
.text-input-c-v:valid:not(:disabled):focus {
  border-color: green;
  box-shadow: 0 0 4px 0 rgba(0, 128, 0, 0.7) inset;
}
.text-input-c-v:valid:not(:disabled) + span:after {
  content: "✔";
  color: green;
}

/**
 * elevated colour: lightness - 5
 */
/** Disabled Controls */
/* The switch - the box around the slider */
/**
 * Other
 */
/**
 * elevated colour: lightness - 5
 */
/** Disabled Controls */
/** Theme Colours                       */
/** ----------------------------------- */
/**
 * Color to be shown on $theme-primary
 * Should be readable when used on top of $theme-primary
 */
/**
 * Primary theme colour
 * Should be readable when used on top of $theme-light
 */
/**
 * Used as background for certain hover effects and active control elements.
 * Content and border should be coloured with $theme-primary or $theme-on-primary
 */
/**
 * Can be used as container backgrounds, for example headers.
 * In this case it should use $theme-on-primary as border colour.
 */
.page-title {
  margin: 32px 16px;
}
.page-title h1 {
  font-size: 48px;
  font-weight: bold;
  color: #67AB9F;
  margin-bottom: 8px;
}
.page-title p {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
}

.text {
  font-weight: normal;
  font-style: normal;
}
.text.--small {
  font-size: 14px;
  line-height: 18px;
}
.text.--medium {
  font-size: 16px;
  line-height: 20px;
}
.text.--large {
  font-size: 18px;
  line-height: 22px;
}
.text.--bold {
  font-weight: bold;
}
.text.--italic {
  font-style: italic;
}

.form-label {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 8px;
}

/**
 * elevated colour: lightness - 5
 */
/** Disabled Controls */
/** Base Colors */
/** ----------------------------------- */
/**
 * elevated colour: lightness - 5
 */
/** Disabled Controls */
/** Theme Colours                       */
/** ----------------------------------- */
/**
 * Color to be shown on $theme-primary
 * Should be readable when used on top of $theme-primary
 */
/**
 * Primary theme colour
 * Should be readable when used on top of $theme-light
 */
/**
 * Used as background for certain hover effects and active control elements.
 * Content and border should be coloured with $theme-primary or $theme-on-primary
 */
/**
 * Can be used as container backgrounds, for example headers.
 * In this case it should use $theme-on-primary as border colour.
 */
.card {
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.7);
  padding: 8px;
  border-radius: 4px;
  display: block;
  text-decoration: none;
}
.card, .card.light {
  border-color: #bbb;
  background-color: white;
  color: #323232;
}
.card.dark {
  border-color: #757575;
  background-color: #505050;
  color: white;
}
.card:hover {
  cursor: pointer;
  color: #67AB9F;
  border-color: #67AB9F;
  box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.7);
}

.button {
  box-shadow: 0 0 4px -1px rgba(166, 166, 166, 0.85);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 3px;
  font-weight: 600;
  background: white;
  background: linear-gradient(0deg, #e6e6e6 35%, white 100%);
  border-color: #bbbbbb;
  color: #323232;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  transition: background 0.2s linear;
  display: inline-block;
}
.button:disabled {
  box-shadow: none;
}
.button.--connect-start {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.button.--connect-end {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.button.--connect-top {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.button.--connect-bottom {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.button:disabled {
  border-width: 1px;
}
.button svg {
  width: 24px;
  height: 24px;
}
.button.--compact {
  padding: 4px 8px;
  font-size: 14px;
  line-height: 14px;
  height: 32px;
}
.button.--compact.--square {
  width: 32px;
}
.button.--compact.--icon {
  padding: 3px;
}
.button.--compact.--icon label {
  padding: 2px;
}
.button.--medium {
  height: 40px;
}
.button.--medium.--square {
  width: 40px;
}
.button.--medium.--icon {
  padding: 7px;
}
.button.--medium.--icon label {
  padding: 2px;
}
.button.--big {
  height: 48px;
}
.button.--big.--square {
  width: 48px;
}
.button.--big.--icon {
  padding: 11px;
}
.button.--big.--icon label {
  padding: 2px;
}
.button label {
  color: inherit;
  display: inline-block;
}
.button svg path {
  fill: currentColor;
}
.button.flex {
  display: inline-flex;
  align-items: center;
}
.button *:hover {
  cursor: pointer;
}
.button:disabled {
  box-shadow: none;
  background: #eceff1;
  border-color: #b0bec5;
  color: #b0bec5;
  cursor: no-drop;
  border-width: 1px;
}
.button:hover:not(:disabled) {
  cursor: pointer;
  background: linear-gradient(0deg, #d9d9d9 35%, #f3f3f3 100%);
  border-color: #aeaeae;
}
.button:focus-visible {
  outline: 2px solid orange;
  outline-offset: 1px;
}
.button:active:not(:disabled) {
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.7) inset;
  background: linear-gradient(0deg, #f3f3f3 35%, #d9d9d9 100%);
  border-bottom-width: 1px;
  border-color: #aeaeae;
  padding-bottom: 10px;
}
.button:active:not(:disabled) svg {
  fill: currentColor;
}
.button.--themed {
  box-shadow: 0 0 4px -1px rgba(166, 166, 166, 0.85);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 3px;
  font-weight: 600;
  background: #88bdb4;
  background: linear-gradient(0deg, #67AB9F 35%, #88bdb4 100%);
  border-color: #43796f;
  color: #323232;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
.button.--themed:disabled {
  box-shadow: none;
}
.button.--themed.--connect-start {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.button.--themed.--connect-end {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.button.--themed.--connect-top {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.button.--themed.--connect-bottom {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.button.--themed:disabled {
  border-width: 1px;
}
.button.--themed svg {
  width: 24px;
  height: 24px;
}
.button.--themed.--compact {
  padding: 4px 8px;
  font-size: 14px;
  line-height: 14px;
  height: 32px;
}
.button.--themed.--compact.--square {
  width: 32px;
}
.button.--themed.--compact.--icon {
  padding: 3px;
}
.button.--themed.--compact.--icon label {
  padding: 2px;
}
.button.--themed.--medium {
  height: 40px;
}
.button.--themed.--medium.--square {
  width: 40px;
}
.button.--themed.--medium.--icon {
  padding: 7px;
}
.button.--themed.--medium.--icon label {
  padding: 2px;
}
.button.--themed.--big {
  height: 48px;
}
.button.--themed.--big.--square {
  width: 48px;
}
.button.--themed.--big.--icon {
  padding: 11px;
}
.button.--themed.--big.--icon label {
  padding: 2px;
}
.button.--themed label {
  color: inherit;
  display: inline-block;
}
.button.--themed svg path {
  fill: currentColor;
}
.button.--themed.flex {
  display: inline-flex;
  align-items: center;
}
.button.--themed *:hover {
  cursor: pointer;
}
.button.--themed:disabled {
  box-shadow: none;
  background: #eceff1;
  border-color: #b0bec5;
  color: #b0bec5;
  cursor: no-drop;
  border-width: 1px;
}
.button.--themed:hover:not(:disabled) {
  cursor: pointer;
  background: linear-gradient(0deg, #58a093 35%, #77b4a9 100%);
  border-color: #3a6860;
}
.button.--themed:focus-visible {
  outline: 2px solid orange;
  outline-offset: 1px;
}
.button.--themed:active:not(:disabled) {
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.7) inset;
  background: linear-gradient(0deg, #77b4a9 35%, #58a093 100%);
  border-bottom-width: 1px;
  border-color: #3a6860;
  padding-bottom: 10px;
}
.button.--themed:active:not(:disabled) svg {
  fill: currentColor;
}
.button.--alert {
  box-shadow: 0 0 4px -1px rgba(166, 166, 166, 0.85);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 3px;
  font-weight: 600;
  background: #d95355;
  background: linear-gradient(0deg, #CC2D30 35%, #d95355 100%);
  border-color: #851d1f;
  color: white;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
.button.--alert:disabled {
  box-shadow: none;
}
.button.--alert.--connect-start {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.button.--alert.--connect-end {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.button.--alert.--connect-top {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.button.--alert.--connect-bottom {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.button.--alert:disabled {
  border-width: 1px;
}
.button.--alert svg {
  width: 24px;
  height: 24px;
}
.button.--alert.--compact {
  padding: 4px 8px;
  font-size: 14px;
  line-height: 14px;
  height: 32px;
}
.button.--alert.--compact.--square {
  width: 32px;
}
.button.--alert.--compact.--icon {
  padding: 3px;
}
.button.--alert.--compact.--icon label {
  padding: 2px;
}
.button.--alert.--medium {
  height: 40px;
}
.button.--alert.--medium.--square {
  width: 40px;
}
.button.--alert.--medium.--icon {
  padding: 7px;
}
.button.--alert.--medium.--icon label {
  padding: 2px;
}
.button.--alert.--big {
  height: 48px;
}
.button.--alert.--big.--square {
  width: 48px;
}
.button.--alert.--big.--icon {
  padding: 11px;
}
.button.--alert.--big.--icon label {
  padding: 2px;
}
.button.--alert label {
  color: inherit;
  display: inline-block;
}
.button.--alert svg path {
  fill: currentColor;
}
.button.--alert.flex {
  display: inline-flex;
  align-items: center;
}
.button.--alert *:hover {
  cursor: pointer;
}
.button.--alert:disabled {
  box-shadow: none;
  background: #eceff1;
  border-color: #b0bec5;
  color: #b0bec5;
  cursor: no-drop;
  border-width: 1px;
}
.button.--alert:hover:not(:disabled) {
  cursor: pointer;
  background: linear-gradient(0deg, #b7282b 35%, #d43e41 100%);
  border-color: #70191a;
}
.button.--alert:focus-visible {
  outline: 2px solid orange;
  outline-offset: 1px;
}
.button.--alert:active:not(:disabled) {
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.7) inset;
  background: linear-gradient(0deg, #d43e41 35%, #b7282b 100%);
  border-bottom-width: 1px;
  border-color: #70191a;
  padding-bottom: 10px;
}
.button.--alert:active:not(:disabled) svg {
  fill: currentColor;
}
.button.--warn {
  box-shadow: 0 0 4px -1px rgba(166, 166, 166, 0.85);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 3px;
  font-weight: 600;
  background: #f4d67c;
  background: linear-gradient(0deg, #F0C74D 35%, #f4d67c 100%);
  border-color: #d4a312;
  color: #323232;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
.button.--warn:disabled {
  box-shadow: none;
}
.button.--warn.--connect-start {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.button.--warn.--connect-end {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.button.--warn.--connect-top {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.button.--warn.--connect-bottom {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.button.--warn:disabled {
  border-width: 1px;
}
.button.--warn svg {
  width: 24px;
  height: 24px;
}
.button.--warn.--compact {
  padding: 4px 8px;
  font-size: 14px;
  line-height: 14px;
  height: 32px;
}
.button.--warn.--compact.--square {
  width: 32px;
}
.button.--warn.--compact.--icon {
  padding: 3px;
}
.button.--warn.--compact.--icon label {
  padding: 2px;
}
.button.--warn.--medium {
  height: 40px;
}
.button.--warn.--medium.--square {
  width: 40px;
}
.button.--warn.--medium.--icon {
  padding: 7px;
}
.button.--warn.--medium.--icon label {
  padding: 2px;
}
.button.--warn.--big {
  height: 48px;
}
.button.--warn.--big.--square {
  width: 48px;
}
.button.--warn.--big.--icon {
  padding: 11px;
}
.button.--warn.--big.--icon label {
  padding: 2px;
}
.button.--warn label {
  color: inherit;
  display: inline-block;
}
.button.--warn svg path {
  fill: currentColor;
}
.button.--warn.flex {
  display: inline-flex;
  align-items: center;
}
.button.--warn *:hover {
  cursor: pointer;
}
.button.--warn:disabled {
  box-shadow: none;
  background: #eceff1;
  border-color: #b0bec5;
  color: #b0bec5;
  cursor: no-drop;
  border-width: 1px;
}
.button.--warn:hover:not(:disabled) {
  cursor: pointer;
  background: linear-gradient(0deg, #eec035 35%, #f2ce65 100%);
  border-color: #bd9110;
}
.button.--warn:focus-visible {
  outline: 2px solid orange;
  outline-offset: 1px;
}
.button.--warn:active:not(:disabled) {
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.7) inset;
  background: linear-gradient(0deg, #f2ce65 35%, #eec035 100%);
  border-bottom-width: 1px;
  border-color: #bd9110;
  padding-bottom: 10px;
}
.button.--warn:active:not(:disabled) svg {
  fill: currentColor;
}

.tablist {
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.7);
  padding: 4px;
  border-radius: 32px;
  display: flex;
  overflow-y: scroll;
  box-sizing: border-box;
}
.tablist a,
.tablist button {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: inherit;
  padding: 4px 16px;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 32px;
  flex-grow: 1;
  text-align: center;
  margin: 0;
  background: none;
  border: none;
  min-width: max-content;
}
.tablist a:hover:not(.selected):not(:disabled),
.tablist button:hover:not(.selected):not(:disabled) {
  cursor: pointer;
  color: #042100;
  background-color: #d5ebcb;
}
.tablist a.selected,
.tablist button.selected {
  color: #042100;
  background-color: #d5ebcb;
}
.tablist.--compact {
  height: 32px;
}
.tablist.--compact a, .tablist.--compact button {
  line-height: 16px;
}
.tablist.--medium {
  height: 40px;
}
.tablist.--medium a, .tablist.--medium button {
  line-height: 24px;
}
.tablist.--big {
  height: 48px;
}
.tablist.--big a, .tablist.--big button {
  line-height: 32px;
}
.tablist, .tablist.light {
  color: #323232;
  border-color: #bbb;
  background-color: white;
}
.tablist button:disabled, .tablist.light button:disabled {
  color: #959595;
}
.tablist.dark {
  color: white;
  border-color: #757575;
  background-color: #505050;
}
.tablist.dark button:disabled {
  color: #757575;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 16px;
  margin: 8px;
}
.switch:hover input:not(:disabled) + .slider {
  background-color: #d5ebcb;
}
.switch:hover input:not(:disabled) + .slider:before {
  background-color: #f5f5f5;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background-color: #67AB9F;
  border: 1px solid #67AB9F;
  box-shadow: 0 0 4px -1px black;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}
.switch input:focus + .slider {
  outline: 2px solid orange;
  outline-offset: 2px;
}
.switch input:disabled + .slider {
  opacity: 0.4;
  box-shadow: none;
}
.switch input:disabled + .slider:hover {
  cursor: no-drop;
}
.switch input:disabled + .slider:before {
  background: #f5f5f5;
  box-shadow: none;
}
.switch .slider {
  box-sizing: border-box;
  border: 1px solid #bbb;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bbb;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 16px;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.7);
}
.switch .slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: -1px;
  bottom: -5px;
  border: 1px solid #bbb;
  background: white;
  background: linear-gradient(0deg, #e5e5e5 35%, white 100%);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.link {
  border-bottom: 2px solid #75FF91;
  color: inherit;
  text-decoration: none;
}
.link:hover {
  background-color: #C2FFCE;
  color: #75FF91;
  color: #1f1f1f;
}

body {
  /** Flat Buttons */
  /** Tables */
}
body .flat-button, body.light .flat-button {
  box-shadow: 0 0 4px -1px rgba(166, 166, 166, 0.85);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 3px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 8px;
}
body .flat-button:disabled, body.light .flat-button:disabled {
  box-shadow: none;
}
body .flat-button.--connect-start, body.light .flat-button.--connect-start {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
body .flat-button.--connect-end, body.light .flat-button.--connect-end {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
body .flat-button.--connect-top, body.light .flat-button.--connect-top {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
body .flat-button.--connect-bottom, body.light .flat-button.--connect-bottom {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
body .flat-button:disabled, body.light .flat-button:disabled {
  border-width: 1px;
}
body .flat-button svg, body.light .flat-button svg {
  width: 24px;
  height: 24px;
}
body .flat-button.--compact, body.light .flat-button.--compact {
  padding: 4px 8px;
  font-size: 14px;
  line-height: 14px;
  height: 32px;
}
body .flat-button.--compact.--square, body.light .flat-button.--compact.--square {
  width: 32px;
}
body .flat-button.--compact.--icon, body.light .flat-button.--compact.--icon {
  padding: 3px;
}
body .flat-button.--compact.--icon label, body.light .flat-button.--compact.--icon label {
  padding: 2px;
}
body .flat-button.--medium, body.light .flat-button.--medium {
  height: 40px;
}
body .flat-button.--medium.--square, body.light .flat-button.--medium.--square {
  width: 40px;
}
body .flat-button.--medium.--icon, body.light .flat-button.--medium.--icon {
  padding: 7px;
}
body .flat-button.--medium.--icon label, body.light .flat-button.--medium.--icon label {
  padding: 2px;
}
body .flat-button.--big, body.light .flat-button.--big {
  height: 48px;
}
body .flat-button.--big.--square, body.light .flat-button.--big.--square {
  width: 48px;
}
body .flat-button.--big.--icon, body.light .flat-button.--big.--icon {
  padding: 11px;
}
body .flat-button.--big.--icon label, body.light .flat-button.--big.--icon label {
  padding: 2px;
}
body .flat-button label, body.light .flat-button label {
  color: inherit;
  display: inline-block;
}
body .flat-button svg path, body.light .flat-button svg path {
  fill: currentColor;
}
body .flat-button.flex, body.light .flat-button.flex {
  display: inline-flex;
  align-items: center;
}
body .flat-button *:hover, body.light .flat-button *:hover {
  cursor: pointer;
}
body .flat-button:disabled, body.light .flat-button:disabled {
  box-shadow: none;
  background: #eceff1;
  border-color: #b0bec5;
  color: #b0bec5;
  cursor: no-drop;
  border-width: 1px;
}
body .flat-button:hover:not(:disabled), body .flat-button:focus:not(:disabled), body.light .flat-button:hover:not(:disabled), body.light .flat-button:focus:not(:disabled) {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
body .flat-button:focus-visible, body.light .flat-button:focus-visible {
  outline: 2px solid orange;
  outline-offset: 1px;
}
body.dark .flat-button {
  box-shadow: 0 0 4px -1px rgba(166, 166, 166, 0.85);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 3px;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
}
body.dark .flat-button:disabled {
  box-shadow: none;
}
body.dark .flat-button.--connect-start {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
body.dark .flat-button.--connect-end {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
body.dark .flat-button.--connect-top {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
body.dark .flat-button.--connect-bottom {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
body.dark .flat-button:disabled {
  border-width: 1px;
}
body.dark .flat-button svg {
  width: 24px;
  height: 24px;
}
body.dark .flat-button.--compact {
  padding: 4px 8px;
  font-size: 14px;
  line-height: 14px;
  height: 32px;
}
body.dark .flat-button.--compact.--square {
  width: 32px;
}
body.dark .flat-button.--compact.--icon {
  padding: 3px;
}
body.dark .flat-button.--compact.--icon label {
  padding: 2px;
}
body.dark .flat-button.--medium {
  height: 40px;
}
body.dark .flat-button.--medium.--square {
  width: 40px;
}
body.dark .flat-button.--medium.--icon {
  padding: 7px;
}
body.dark .flat-button.--medium.--icon label {
  padding: 2px;
}
body.dark .flat-button.--big {
  height: 48px;
}
body.dark .flat-button.--big.--square {
  width: 48px;
}
body.dark .flat-button.--big.--icon {
  padding: 11px;
}
body.dark .flat-button.--big.--icon label {
  padding: 2px;
}
body.dark .flat-button label {
  color: inherit;
  display: inline-block;
}
body.dark .flat-button svg path {
  fill: currentColor;
}
body.dark .flat-button.flex {
  display: inline-flex;
  align-items: center;
}
body.dark .flat-button *:hover {
  cursor: pointer;
}
body.dark .flat-button:disabled {
  box-shadow: none;
  background: #eceff1;
  border-color: #b0bec5;
  color: #b0bec5;
  cursor: no-drop;
  border-width: 1px;
}
body.dark .flat-button:hover:not(:disabled), body.dark .flat-button:focus:not(:disabled) {
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
body.dark .flat-button:focus-visible {
  outline: 2px solid orange;
  outline-offset: 1px;
}
body .table, body.light .table {
  width: 100%;
  border-collapse: collapse;
}
body .table thead, body.light .table thead {
  border-bottom: 2px solid #bbb;
  border-top: 2px solid #bbb;
}
body .table thead tr th, body.light .table thead tr th {
  padding: 4px;
}
body .table tbody, body.light .table tbody {
  border-bottom: 2px solid #bbb;
}
body .table tbody tr:nth-child(even), body.light .table tbody tr:nth-child(even) {
  background-color: #ededed;
}
body .table td,
body .table th, body.light .table td,
body.light .table th {
  padding: 4px 8px;
}
body.dark .table {
  width: 100%;
  border-collapse: collapse;
}
body.dark .table thead {
  border-bottom: 2px solid #757575;
  border-top: 2px solid #757575;
}
body.dark .table thead tr th {
  padding: 4px;
}
body.dark .table tbody {
  border-bottom: 2px solid #757575;
}
body.dark .table tbody tr:nth-child(even) {
  background-color: #ededed;
}
body.dark .table td,
body.dark .table th {
  padding: 4px 8px;
}

/*# sourceMappingURL=theme.css.map */
